footer {
	position: absolute;
	bottom: 0px;
}
td {
	font-size: 2em;
	padding: 2px;
}

#accountPanel {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	right: 0px;
}
#currentRoom {
	font-family: "Courier New", Courier, monospace;
}

.mainButton {
	width: 77px;
}
