<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="/css/darkstrap.css">
		<link rel="stylesheet" type="text/css" href="/lib/angular-ui/angular-ui.css">
		<link rel="stylesheet" type="text/css" href="/css/application.css">

		<script src="/lib/jquery/jquery.js"></script>
		<script src="/lib/jquery/jquery-ui.js"></script>
		<script src="/lib/bootstrap/js/bootstrap.js"></script>
		<script src="/lib/angular/angular.js"></script>
		<script src="/lib/angular/angular-bootstrap.js"></script>
		<script src="/lib/angular/angular-bootstrap-prettify.js"></script>
		<script src="/lib/angular/angular-loader.js"></script>
		<script src="/lib/angular/angular-resource.js"></script>
		<script src="/lib/angular-ui/angular-ui.js"></script>
		<script src="/lib/angular-ui/angular-ui-ieshiv.js"></script>

		<script src="/js/application.js"></script>
		<script src="/js/services.js"></script>
		<script src="/js/controllers.js"></script>
		<script src="/js/filters.js"></script>
		<script src="/js/directives.js"></script>
		<!--[if lt IE 9]>
			<script src="/lib/html5-3.6-respond-1.1.0.min.js"></script>
		<![endif]-->
	</head>
	<body ng-app="YYS" ng-controller="MainCtrl">
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="#">YYS</a>
				<div class="container pull-left">
					<div class="btn-toolbar" style="margin: 0;">
						<div class="btn-group">
							<button class="btn mainButton" ng-class="editButtonClass" data-toggle="button" ng-click="toggleEditStatus()">{{editButtonLabel}}</button>
							<button class="btn mainButton btn-success">Danger</button>
							<button class="btn mainButton btn-primary">Warning</button>
							<button class="btn mainButton btn-default">Success</button>
						</div>
					</div>
				</div>
				<div class="container pull-right" id="accountPanel">
					<div ng-include src="template.account"></div>
				</div>
			</div>
		</div>

		<div class="container">
			<table align="center" id="currentRoom">
				<tr ng-repeat="row in room">
					<td ng-repeat="cell in row">{{cell}}</td>
				</tr>
			</table>
		</div>
		
		<div class="container">
			<footer>
				<p>&copy; fingerskier 2013</p>
			</footer>
		</div>
	</body>
</html>
